@page
@model IndexModel
@{
    ViewData["Title"] = "Orders";
    ViewData["ActivePage"] = "Orders";
    Layout = "_ProfileLayout";
}

<h3>@ViewData["Title"]</h3>
<div class="card border-0 bg-light p-4 rounded-2">
    <p class="mb-0">Go to store to place an order.</p>
</div>
