@model IEnumerable<CategoryNavViewModel>


<li class="mt-2">
    <a class="dropdown-item fw-bold bg-black" href="#">
        <div class="swap w-fit">
            Offers
        </div>
    </a>
</li>
<li class="mt-2">
    <a class="dropdown-item fw-bold bg-black" asp-controller="Products" asp-action="Index">
        <div class="swap w-fit">
            All Products
        </div>
    </a>
</li>

@foreach (var item in Model)
{   
    <li class="mt-2">
        <a class="dropdown-item fw-bold bg-black" asp-controller="Products" asp-action="Index" asp-route-categoryId="@item.Id" asp-route-categoryName="@item.Name">           
            <div class="swap w-fit">
                @item.Name
            </div>
        </a>
    </li>
}
