@model ProductViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="mt-2">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none text-black fw-bold" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active fw-semibold" aria-current="page">@Model.Name</li>
        </ol>
    </nav>
</div>

<div class="row mt-5">
    <div class="col">
        <div class="row">
            <div class="thumbnails col-2 thumbs-wrapper">
                @for (int i = 0; i <= 15; i++)
                {
                    <div class="d-flex justify-content-center mb-2">
                        <img src="~/Images/gold-standard-100-whey-protein.png" class="thumb-img" />
                    </div>
                }
            </div>
            <div class="main-image mt-3 col-10">
                <img id="mainProductImage" src="~/Images/gold-standard-100-whey-protein.png" class="img-fluid" />
            </div>
        </div>
        </div>
    <div class="col">
        <h1 class="fw-bold">@Model.Name</h1>
        <div class="fs-5 my-3 product-rating">
            <span>
                <svg aria-hidden="true" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" class="star-container yotpo-sr-star-full" width="15" height="15" style="display: flex; flex-direction: row; margin-inline-end: 3.5px;">
                    <defs>
                        <linearGradient id="yotpo_stars_gradient_0.36875151775728454">
                            <stop offset="100%" stop-color="rgba(255,204,0,1)"></stop>
                            <stop stop-opacity="1" offset="100%" stop-color="#FFFFFF"></stop>
                        </linearGradient>
                    </defs>
                    <path style="pointer-events: none;" d="M9 14.118L14.562 17.475L13.086 11.148L18 6.891L11.529 6.342L9 0.375L6.471 6.342L0 6.891L4.914 11.148L3.438 17.475L9 14.118Z" stroke="rgba(255,204,0,1)" fill="url('#yotpo_stars_gradient_0.36875151775728454')"></path>
                </svg>
            </span>
            <span>4.8</span>
            <span> | </span>
            <span>1200 Reviews</span>
        </div>
        <p class="fs-5 text-muted">@Model.Description</p>
        <hr />
        <div class="row">
            <div class="col mb-5">
                <div class="mb-2">
                    <label class="mb-2 text-muted fw-semibold" asp-for="SelectedFlavour">
                        Flavour:
                    </label>
                    <select class="form-select form-select-solid rounded-0 p-3 ps-5 shadow-none text-uppercase" asp-for="SelectedFlavour" asp-items="Model.Flavors">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>