@model ProductViewModel

@{
    ViewData["Title"] = Model.Name;
}
<input id="ProductId" type="hidden" value="@Model.Id" />
<div class="mt-2 ms-4">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none text-black fw-bold" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active fw-semibold" aria-current="page">@Model.Name</li>
        </ol>
    </nav>
</div>

<div class="row mt-5 ms-lg-1">
    <div class="col">
        <div class="row">
            <div class="thumbnails col-2 thumbs-wrapper">
                @for (int i = 0; i <= 10; i++)
                {
                    <div class="d-flex justify-content-center mb-2">
                        <img src="~/Images/gold-standard-100-whey-protein.png" class="thumb-img" />
                    </div>
                }
            </div>
            <div class="main-image mt-3 col-10">
                <img id="mainProductImage" src="~/Images/gold-standard-100-whey-protein.png" class="img-fluid" />
            </div>
        </div>
        </div>
    <div class="col">
        <h1 class="fw-bold">@Model.Name</h1>
        <p class="fs-5 py-3 text-muted">@Model.Description</p>
        <hr />
        <div class="row">
            <div class="col mb-3">
                <div class="mb-2">
                    <label class="mb-2 text-muted fw-semibold" asp-for="SelectedFlavour">
                        Flavour:
                    </label>
                    <select id="Flavors" class="form-select form-select-solid rounded-0 p-3 ps-5 shadow-none text-uppercase" asp-for="SelectedFlavour" asp-items="Model.Flavors">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <div class="mb-2">
                    <label class="mb-2 text-muted fw-semibold" asp-for="SelectedSizes">
                        Sizes:
                    </label>
                    <select id="Sizes" class="form-select form-select-solid rounded-0 p-3 ps-5 shadow-none text-uppercase" asp-for="SelectedSizes" asp-items="Model.Sizes">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/details.js" asp-append-version="true"></script>
}