@model ProductPageViewModel

@{
    var title = string.IsNullOrEmpty(Model.CategoryName) ? "All Products" : Model.CategoryName;
    ViewData["Title"] = title;
}

<div class="mt-2">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none text-black fw-bold" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item active fw-semibold" aria-current="page">@title</li>
        </ol>
    </nav>
</div>

@if (Model.Products.Count() > 0)
{
    <div class="d-flex justify-content-center">
        <div class="row container-fluid px-0 mt-5">
            <div class="">
                @* Mobile view *@
                <button class="btn btn-dark text-uppercase rounded-0 px-3 py-4 filter-btn d-lg-none shadow-none" data-bs-toggle="offcanvas" data-bs-target="#mobileFilter">
                    <i class="bi bi-filter me-1"></i>
                    Filter and sort
                </button>

                <div class="offcanvas offcanvas-end h-auto m-3" tabindex="-1" id="mobileFilter">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close shadow-none" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body fw-bold">
                        <partial name="_Filters" model="Model" />
                    </div>
                </div>
            </div>

            <div class="col-3 pe-5 ps-0 fs-5 fw-bold filters-sidebar">
                <partial name="_Filters" model="Model"></partial>
            </div>
            <div class="p-lg-0 col-lg-9">
                <partial name="_ProductsList" model="Model"></partial>
            </div>          
        </div>
    </div>
}
else
{
    <div class="text-center mt-5">
        <h3>Nothing Here Yet</h3>
        <p class="text-muted fs-5">
            Looks like this category is still warming up.
            Explore other supplements and fuel your workout!
        </p>
    </div>
}



@section Scripts {
    <script src="~/js/products.js" asp-append-version="true"></script>
}
