@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row d-flex justify-content-center mt-5">
    <div id="loginFormCard" class="card col-md-4 rounded-2 bg-login border-0 p-4">
        <section>
            <form id="account" method="post">
                <div class="d-flex justify-content-center mb-3">
                    <img src="~/assets/images/navbarLogo.png" alt="IronFuel Logo" class="img-fluid bg-dark mt-3" style="max-height: 70px;" />
                </div>
                <h2>Sign in</h2>
                <hr />
                
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="on" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-dark rounded-0">Log in</button>
                </div>

                <div class="mt-3 text-center">
                    <span class="text-muted fs-6">Don't have an account?</span>
                    <a asp-area="Identity" asp-page="/Account/Register"
                           class="text-dark fw-semibold ms-1 w-fit fs-6">
                        Register
                    </a>
                </div>
             
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
