<!-- _NavLinksMobile.cshtml — NO offcanvas wrapper here -->
<!-- Main Menu -->
<div id="mainMenu">
    <ul class="list-unstyled text-uppercase fs-2">
        
        @if (User.IsInRole(AppRoles.Admin))
        {
            <li class="mb-3">
                <button class="bg-light border-0 text-dark d-flex justify-content-between w-100 p-0 fw-semibold"
                        data-submenu="manage" data-title="Manage">
                    <span class="swap-light w-fit">
                        Manage
                    </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none">
                            <path d="M8.5 5L15.5 12L8.5 19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
            </li>
        }

        <li class="mb-3">
            <button class="bg-light border-0 text-dark d-flex justify-content-between w-100 p-0 fw-semibold"
                    data-submenu="shop" data-title="Shop">
                <span class="swap-light w-fit">
                    Shop
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none">
                        <path d="M8.5 5L15.5 12L8.5 19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
            </button>
        </li>
    </ul>
</div>

<!-- Manage Submenu -->
<div id="submenu-manage" class="d-none">
    <ul class="list-unstyled text-uppercase fs-4">
        <li class="mb-3">
            <a class="text-decoration-none swap-light w-fit bg-inherit"
               asp-area="Admin" asp-controller="Products" asp-action="Index">Products</a>
        </li>
        <li class="mb-3">
            <a class="text-decoration-none swap-light w-fit bg-inherit"
               asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
        </li>
        <li class="mb-3">
            <a class="text-decoration-none swap-light w-fit bg-inherit"
               asp-area="Admin" asp-controller="Brands" asp-action="Index">Brands</a>
        </li>
        <li class="mb-3">
            <a class="text-decoration-none swap-light w-fit bg-inherit"
               asp-area="Admin" asp-controller="Flavors" asp-action="Index">Flavors</a>
        </li>
    </ul>
</div>

<!-- Shop Submenu -->
<div id="submenu-shop" class="d-none">
    <ul class="list-unstyled text-uppercase fs-4">
        @await Component.InvokeAsync("CategoryMenu")
    </ul>
</div>